* {
  margin: 0;
  padding: 0;
  border: 0;
}
button {
  color: white;
  background-image: none;
}

input:focus ~ .input-text,
input:not(:placeholder-shown) ~ .input-text {
  @apply text-[#2E0052] transform -translate-y-6 -translate-x-2 scale-75;
}

#colo{
  background-image: linear-gradient(
    #13042c,
    #240454,
    #240454,
    #3c2484,
    #4b2ea1,
    #3c2484,
    #240454,
    #240454
   
  );
}

#txt1{
  color: white;
}


#cd1{
  background-color:   #1b033f;
}

#cd2{
  background-color: #4b2ea1;
  color: white;
}